.karma-holder {
	position: relative;
	clear: both;
	width: 100%;
	height: 4em;
	float: left;
	border-bottom: 20px solid #fff; /*trick for IE 6*/
	white-space: nowrap;
	background: url(/i/bg-profile-center-line.gif) left center repeat-x;
}

	.blogs h1 a {
		position: relative;
		font: 2.83em/2.17em Verdana, sans-serif; /*34/12*/
		text-decoration: none;
	}
		
			body.blogs #main-content h1 a img {
				float: left;
				margin: 15px 10px 0 0;
				border: 1px solid #ddd;
			}
	
		
.karma,
.habraforce,
.blog-rating,
.habramoney {
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	float: left;
	/*border: 1px solid red;*/
	background: #fff;
}

.karma {
	padding: 0 .83em 0 55px;
}

.karma-holder .infinity .vote {
	display: none;
}

.karma-holder .infinity-sign {
	display: none;
	font-size: 1.83em;
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	margin-top: -5px;
	color: gray;
}

.karma-holder .infinity .infinity-sign {
	display: block;
}

.habraforce,
.blog-rating,
.habramoney {
	padding: 0 1em;
}

.habraforce,
.blog-rating {
	margin: 0 20px 0 20px;
	padding-bottom: 1.1em;
}
	
.karma dl {float:left;}	
	.karma dd.vote {
		margin:0 auto;
		width:auto;
		overflow:hidden;
		display:inline;
	}
	.karma dt, .karma .total {
		font-size: .83em;
	}
	.karma .total {
		clear:left;
	}
	.karma a {
		margin:3px 3px 0;
		float:left;
		width:9px;
		height:20px;
	}
	.karma .mark {
		float:left;
	}
	.karma strong {
		font-weight:normal;
	}
	.karma .vote_plus {
		background:url(/i/icos/icons_vote_karma.gif) no-repeat left top;
	}
	.karma .vote_minus {
		background:url(/i/icos/icons_vote_karma.gif) no-repeat right top;
	}
	.karma.no_voting .vote_plus,
	.karma.no_auth .vote_plus,
	.karma.mine .vote_plus,
	.karma.voted_minus .vote_plus {
		background:url(/i/icos/icons_vote_karma.gif) no-repeat left bottom;
	}
	.karma.no_voting .vote_minus,
	.karma.no_auth .vote_minus,
	.karma.mine .vote_minus,
	.karma.voted_plus .vote_minus {
		background:url(/i/icos/icons_vote_karma.gif) no-repeat right bottom;
	}
	.habraforce dt,
	.blog-rating dt,
	.habramoney dt, .habramoney .pay {
		font-size: .83em;
		float: none;
	}
	.karma .total em {
		font-style:normal;
	}
		.karma .mark,
		.habraforce .number,
		.blog-rating .number,
		.habramoney .number  {
			font-size: 1.83em; /*22/12*/
			padding: 0 .15em;
			color: #fff;
		}
		.karma .mark {
			background-color:#74c262;
		}
		.habraforce .number {
			background: #25a8ff;
		}
		.blog-rating .number {
			background: #d479b3;
		}
		.habramoney .number {
			background: #ef7f35;
		}
	
	 .buttons {
		padding: .83em 0 0 .83em;
		white-space: nowrap;
		float: right;
		background: #fff;
	}
	 .blogs .buttons {
		padding-left: 0;
	}
	.karma-holder .buttons a {margin-right:8px;}
	
		.blogs .buttons img {
			border: 1px solid #ddd;
		}
	.blogs .karma-holder .buttons a {margin-right:0px;margin-top:4px !important;}
	