%html
  %head
    %title= 'Search'
    %script{ src: '/files/javascripts/jquery.js' }
    %script{ src: '/files/javascripts/app.js' }
    %link{ rel: 'stylesheet', href: '/files/style.css' }
  %body
    #wrapper
      != body
      #online
        Online:
        %strong= 1